.boxnews-right{
    padding-left: 30px;
    border-left:1px solid #f5f5f5;
    @media (max-width:991px) {
        padding-left: 15px;
        border:none;
    }
}
.boxnews-left{
    padding-right: 30px;
    @media (max-width:991px) {
        padding-right: 15px; 
        margin-bottom: 40px;
    }
}
.news-sidebar { 
    background: #f5f5f5;

    .sidebar-title {
        background: #e60012;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 9px 15px;
    }

    .sidebar-menu {
        margin: 0;
        padding: 0;
        list-style: none; 
        > li { 
            > a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #2c3e50;
                font-size: 16px;
                text-decoration: none;
                padding: 12px 10px;
                transition: .3s;
            }

            &:hover > a {
                color: #e60012;
            }

            &.active { 
                > a { 
                    color: #000;
                }

                > a i {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sub-menu {
        display: none;
        list-style: none;
        padding: 0 0 10px 20px;
        margin: 0;

        li {

            a {
                display: block;
                padding: 8px 0;
                color: #34495e;
                font-size: 16px;
                text-decoration: none;

                &:hover {
                    color: #e60012;
                }
            }
        }
    }

    .active > .sub-menu {
        display: block;
    }

    .fa-angle-down {
        font-size: 16px;
        transition: .3s;
    }
}

.news-list {  
    .news-card {
        margin-bottom: 50px;

        &__image {
            position: relative;
            overflow: hidden; 
            object-fit: cover;
            img {
                width: 100%;
                display: block;
                transition: all .4s ease;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        &__date {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            background: var(--color-primary);
            color: var(--bg-body);
            text-align: center;
            padding: 8px 0;
            z-index: 2;

            .day {
                display: block;
                font-size: 16px;
                line-height: 1;
                font-weight: 700;
                color: var(--bg-body);
            } 
            .month {
                display: block;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.2;
                color: var(--bg-body);
            }
        }

        &__content {
            padding-top: 15px; 
            h3 {
                margin: 0;
                min-height:75px; 
                a {
                    color: #000;
                    font-size: 16.5px;
                    line-height: 1.35;
                    font-weight: 400;
                    text-decoration: none;
                    transition: .3s;

                    &:hover {
                        color: #e30613;
                    }
                }
            }

            .line {
                width:30px;
                height:2px;
                background: #d8d8d8;
                margin: 15px 0;
            }

            p {
                margin: 0;
                color: #222;
                font-size: 0.9em;
                line-height: 1.8;
            }
        }
    }

    @media (max-width: 991px) {
        .news-card {
            margin-bottom: 35px;

            &__content {
                h3 {
                    min-height: auto;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .news-card {
            &__content {
                h3 {
                    a {
                        font-size: 18px;
                    }
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}